{% extends "layout.html" %}

{% block title %}Etsi tanssiprojekti{% endblock %}

{% block content %}
    <h2>Etsi tanssiprojekti</h2>

    <form action="/find_project" method="get">
        <p>
            Hakusana:
            <input type="text" name="query" value="{{ query }}">
        </p>

        <p>
            Tanssityyli:
            <select name="dance_style">
                <option value="">Kaikki</option>
                {% for style in dance_styles %}
                    <option value="{{ style.id }}"
                        {% if selected_dance_style == style.id|string %}selected{% endif %}>
                        {{ style.name }}
                    </option>
                {% endfor %}
            </select>
        </p>

        <p>
            Taso:
            <select name="level">
                <option value="">Kaikki</option>
                {% for level in levels %}
                    <option value="{{ level.id }}"
                        {% if selected_level == level.id|string %}selected{% endif %}>
                        {{ level.name }}
                    </option>
                {% endfor %}
            </select>
        </p>

        <p>
            Sijainti:
            <select name="location">
                <option value="">Kaikki</option>
                {% for location in locations %}
                    <option value="{{ location.id }}"
                        {% if selected_location == location.id|string %}selected{% endif %}>
                        {{ location.name }}
                    </option>
                {% endfor %}
            </select>
        </p>

        <button type="submit">Hae</button>
    </form>

    <h2 class="find-results">Tulokset</h2>

    <ul class="project-list">
        {% for project in results %}
            <li class="project-content">
                    <a href="/project/{{ project.id }}">{{ project.title }}</a>
                    <p>{{ project.username }}, {{ project.creation_date }}</p>
            </li>
    {% endfor %}
    </ul>

    <div class="pages">

        {% if page > 1 %}
            <a href="/find_project?query={{ query }}&dance_style={{ selected_dance_style }}&level={{ selected_level }}&location={{ selected_location }}&page={{ page - 1 }}">
                Edellinen
            </a>
        {% endif %}

        {% if results|length == 10 %}
            <a href="/find_project?query={{ query }}&dance_style={{ selected_dance_style }}&level={{ selected_level }}&location={{ selected_location }}&page={{ page + 1 }}">
                Seuraava
            </a>
        {% endif %}

    </div>
{% endblock %}