<!DOCTYPE html>
<html>

<head>
  <title>Tanssiprojektit</title>
</head>

<body>
    <h1>Tanssiprojektit</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}

  <p>
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
    {% endif %}
  </p>

  <p>
    {% if session.user_id %}
    <a href="/new_project">Uusi tanssiprojekti</a>
    {% endif %}
    <a href="/find_project">Etsi tanssiprojekti</a>
  </p>

  <h2>Tanssiprojektit</h2>
  <ul>
    {% for project in projects %}
    <li><a href="/project/{{ project.id }}">{{ project.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>