{% extends "layout.html" %}

{% block title %}Tanssiprojektit{% endblock %}

{% block content %}
    <h2>Tanssiprojektit</h2>

    <ul>
        {% for project in projects %}
            <div class="project-content">
                <a href="/project/{{ project.id }}">{{ project.title }}</a>
                <p>{{ project.username }}, {{ project.creation_date }}</p>
            </div>
        {% endfor %}
    </ul>

    <div class="pages">
        {% if page > 1 %}
            <a href="/?page={{ page - 1 }}">Edellinen</a>
        {% endif %}

        {% if projects|length == 10 %}
            <a href="/?page={{ page + 1 }}">Seuraava</a>
        {% endif %}
    </div>
{% endblock %}