{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
  <h2>Kirjaudu sisään</h2>

  {% for message in get_flashed_messages() %}
    <p><b>{{ message }}</b></p>
  {% endfor %}

  {% if not session.username %}
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}

  <form action="/login" method="post">
    <p>
      <label for="username">Tunnus:</label><br />
      <input type="text" id="username" name="username" value="{{ filled.username }}" />
    </p>

    <p>
      <label for="password">Salasana:</label><br />
      <input type="password" id="password" name="password" />
    </p>

    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
{% endblock %}