{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
  <h2>Kirjaudu sisään</h2>

  {% for message in get_flashed_messages() %}
    <p><b>{{ message }}</b></p>
  {% endfor %}

  {% if not session.username %}
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}

  <form action="/login" method="post">
    <p>
      Tunnus: <br />
        <input type="text" name="username" value="{{ filled.username }}" />
    </p>

    <p>
      Salasana: <br />
        <input type="password" name="password" />
    </p>

      <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
{% endblock %}