<!DOCTYPE html>
<html>

<head>
  <title>Uusi tanssiprojekti</title>
</head>

<body>
  <h1>Uusi tanssiprojekti</h1>
  <form action="/create_project" method="post">

    {% if error %}
      <p>{{ error }}</p>
    {% endif %}

    <p>
      Projektin nimi: <br />
      <input type="text" name="title" value="{{ title or '' }}" maxlength="50" required />
      <br />
      Vähintään 3 merkkiä.
    </p>
    <p>
      Kuvaus: <br /> 
      <textarea name="description" rows="8" cols="60" maxlength="1000" required>{{ description or '' }}</textarea>
      <br />
      Vähintään 3 merkkiä.
    </p>
    <p>
      Tanssityyli: <br />
      <select name="dance_style" required>
        <option value="" disabled {% if not dance_style_id %}selected{% endif %}>(valitse)</option>
        {% for style in dance_styles %}
          <option value="{{ style.id }}"
            {% if style.id|string == dance_style_id|string %}selected{% endif %}>
            {{ style.name }}
        </option>
        {% endfor %}
      </select>
    </p>
    <p>
      Taso: <br />
      <select name="level" required>
        <option value="" disabled {% if not level_id %}selected{% endif %}>(valitse)</option>
        {% for level in levels %}
          <option value="{{ level.id }}"
            {% if level.id|string == level_id|string %}selected{% endif %}>
            {{ level.name }}
        </option>
        {% endfor %}
      </select>
    </p>
    <p>
      Sijainti: <br />
        {% for location in locations %}
          <label>
            <input type="checkbox" name="locations" value="{{ location.id }}"
            {% if location.id|string in location_ids %}checked{% endif %}>
            {{ location.name }}
          </label>
        {% endfor %}
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Luo tanssiprojekti" />
  </form>
</body>

</html>

