<!DOCTYPE html>
<html>

<head>
  <title>Uusi tanssiprojekti</title>
</head>

<body>
  <h1>Uusi tanssiprojekti</h1>
  <form action="/create_project" method="post">

    {% if error %}
      <p>{{ error }}</p>
    {% endif %}

    <p>
      Projektin nimi: <br />
      <input type="text" name="title" maxlength="50" required />
    </p>
    <p>
      Kuvaus: <br /> 
      <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
      Tanssityyli: <br />
      <select name="dance_style" required>
        <option value="" disabled selected>Valitse tanssityyli</option>
        {% for style in dance_styles %}
          <option value="{{ style.id }}">{{ style.name }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
      Sijainti: <br />
        {% for location in locations %}
          <label>
            <input type="checkbox" name="locations" value="{{ location.id }}">
            {{ location.name }}
          </label>
        {% endfor %}
    </p>
    <input type="submit" value="Luo tanssiprojekti" />
  </form>
</body>

</html>

