{% extends "layout.html" %}

{% block title %}Tanssiprojektin poisto{% endblock %}

{% block content %}
  <h2>Tanssiprojektin poisto</h2>

  <p>Ilmoitus: {{ project.title }}</p>

  <p>Haluatko varmasti poistaa tämän projektin?</p>
    <form action="/remove_project/{{ project.id }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" name="remove" value="Poista projekti">
      <input type="submit" name="back" value="Palaa takaisin">
    </form>
{% endblock %}