<!DOCTYPE html>
<html>

<head>
  <title>Käyttäjä {{ user.username }}</title>
</head>

<body>
  <h1>Käyttäjä {{ user.username }}</h1>
  <p>
    {% if projects | count == 1%}
    Käyttäjällä on yhteensä {{ projects | count }} tanssiprojekti.
    {% else %}
    Käyttäjällä on yhteensä {{ projects | count }} tanssiprojektia.
    {% endif %}
  </p>
  <h2>Projektit</h2>
  <ul>
    {% for project in projects %}
    <li><a href="/project/{{ project.id }}">{{ project.title }}</a></li>
    {% endfor %}
  </ul>
  <p>
    <a href="/">Takaisin kotisivulle</a>
  </p>

</body>

</html>