{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
    <h2>Käyttäjä {{ user.username }}</h2>

    {% if session.user_id == user.id %}

      <p>
        {% if projects | count == 1 %}
          Sinulla on yhteensä {{ projects | count }} tanssiprojekti.
        {% else %}
          Sinulla on yhteensä {{ projects | count }} tanssiprojektia.
        {% endif %}
      </p>

    {% else %}

      <p>
        {% if projects | count == 1 %}
          Käyttäjällä on yhteensä {{ projects | count }} tanssiprojekti.
        {% else %}
          Käyttäjällä on yhteensä {{ projects | count }} tanssiprojektia.
        {% endif %}
      </p>

    {% endif %}

    <h2>Projektit</h2>
      <ul>
        {% for project in projects %}
          <li><a href="/project/{{ project.id }}">{{ project.title }}</a></li>
        {% endfor %}
      </ul>
{% endblock %}