{% extends "layout.html" %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
  <h2>{{ project.title }}</h2>

  {% if session.user_id == project.user_id %}
    <p>
      <a href="/edit_project/{{ project.id }}">Muokkaa</a>
      <a href="/remove_project/{{ project.id }}">Poista</a>
    </p>
  {% endif %}

  <p>
    {{ project.description }}
  </p>

  <p>
    Tanssityyli: {{ project.dance_style }}
  </p>

  <p>
    Taso: {{ project.level }}
  </p>

  <p>
    Sijainti:
    {% for location in locations %}
      {{ location.name }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>

  <p>
    Ilmoittaja: <a href="/user/{{ project.user_id }}">{{ project.username }}</a>
  </p>

  <h2>Osallistujat</h2>

  {% if participants | count == 1 %}
    <p>{{ participants | count }} osallistuja</p>
  {% else %}
    <p>{{ participants | count }} osallistujaa</p>
  {% endif %}

  {% if session.user_id == project.user_id %}

    <ul>
      {% for participant in participants %}
        <li>{{ participant.username }}</li>
      {% endfor %}
    </ul>

    <h2>Osallistumispyynnöt</h2>
      <ul>
        {% for request in participation_requests %}
          <li>
            {{ request.username }}

            <form action="/handle_request" method="post">
              <input type="hidden" name="request_id" value="{{ request.id }}">
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

              <input type="submit" name="action" value="Hyväksy">
              <input type="submit" name="action" value="Hylkää">
            </form>
          </li>
        {% endfor %}
      </ul>

  {% elif session.user_id %}

      {% set ns = namespace(has_requested=false) %}

      {% for request in participation_requests %}
        {% if request.user_id == session.user_id %}
          {% set ns.has_requested = true %}
        {% endif %}
      {% endfor %}

    {% if ns.has_requested %}
      <p>Olet hakenut projektiin onnistuneesti! Odota, että sinut hyväksytään.</p>

    {% else %}
      <h2>Osallistu projektiin</h2>

      <form action="/new_participant" method="post">
        <input type="hidden" name="project_id" value="{{ project.id }}"/>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

        <input type="submit" value="Osallistu projektiin" />
      </form>
    {% endif %}

  {% else %}

    <p>
      <a href="/login">Kirjaudu sisään</a>, jotta voit osallistua projektiin.
    </p>

  {% endif %}
{% endblock %}