<!DOCTYPE html>
<html>

<head>
  <title>{{ project.title }}</title>
</head>

<body>
  <h1>{{ project.title }}</h1>
  {% if session.user_id == project.user_id %}
  <p>
    <a href="/edit_project/{{ project.id }}">Muokkaa</a>
    <a href="/remove_project/{{ project.id }}">Poista</a>
  </p>
  {% endif %}
  <p>
    {{ project.description }}
  </p>
  <p>
    Tanssityyli: {{ project.dance_style }}
  </p>
  <p>
    Sijainti:
    {% for location in locations %}
      {{ location.name }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
  <p>
    Ilmoittaja: {{ project.username }}
  </p>
  <p>
    <a href="/">Takaisin</a>
  </p>

</body>

</html>

